@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
    padding: 0px;
    margin: 0px;
    font-family: "Lato-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    color: white;
    font-size: 16px;
}

.container {
    width: 1020px;
    margin: 0px auto 0px auto;
}

.header {
    background-color: #323232;
    height: 63px;
    border: 0px;
    margin: 0px auto 0px auto;
}

.nav-header {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 26px;
    margin-bottom: 23px;
}

.nav-left {
    margin-left: 316px;
}

.nav-right {
    margin-left: 25px;
}

.nav-left li,
.nav-right li {
    float: left;
    padding-left: 10px;
}

.nav-header a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.nav-header a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(46, 179, 152, 255);
}

.logo {
    float: left;
    margin-left: 37px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.arrow-down {
    position: relative;
    top: 63px;
    left: 463px;
    width: 0; 
    height: 0; 
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 26px solid #323232;
}

.portfolio {
    background-color: white;
    height: 720px;
    border: 0px;
    margin: 0px auto 11px auto;
}

.upper-line {
    display: flex;
    margin: 0;
    padding: 0;
    width: 960px;
    margin-top: 11px;
    margin-left: 30px;
}

.line-h-left {
    border: 1px solid #e4e9eb;
    width: 410px;
    margin-right: 140px;
    border-bottom-width: 0px;
}

.line-h-right {
    border: 1px solid #e4e9eb;
    width: 410px;
    border-bottom-width: 0px;
}

.slider {
    margin: 0;
    padding: 0;
    margin-top: 75px;
}

.row-1 {
    display: flex;
    margin-left: 100px;
}

.row-2 {
    display: flex;
    margin-top: -40px;
    margin-left: 22px;
}

.row-3 {
    display: flex;
    margin-top: -40px;
    margin-left: 100px;
}

.line-v-left {
    border: 1px solid #e4e9eb;
    height: 104px;
    width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding-right: 20px;
    margin-top: 54px;
}

.line-v-right {
    border: 1px solid #e4e9eb;
    height: 104px;
    width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-top: 54px;
}

.hex-1 {
    height: 210px;
    width: 180px;
    background-color: yellowgreen;
    visibility: hidden;
    overflow: hidden;
    margin-right: 20px;
}

.hex-2 {
    height: 100%;
    width: 100%;
    background-color: violet;
    transform: rotate(60deg);
    overflow: hidden;
    
}

.hex-3 {
    height: 100%;
    width: 100%;
    background-color: brown;
    transform: rotate(60deg);
    overflow: hidden;
    visibility: visible;
}

.hex-3 img {
    width: 182px;
    height: 209px;
    transform: rotate(-120deg);
}

.scroll-slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: 58px;
}

.scroll-slider li {
    background-color: #ddd2c5;
    display: inline-block;
    margin-right: 3px;
    height: 6px;
    width: 6px;
}

.scroll-slider li:hover {
    background-color: #8b8784;
}

.scroll-slider li:nth-child(3) {
    background-color: #8b8784;
}

.slider-h-line {
    margin-top: 11px;
    margin-left: 30px;
    border: 1px solid #e4e9eb;
    border-bottom-width: 0px;
    width: 960px;
}

.about-me {
    margin: 0;
    padding: 0;
    height: 341px;
    background-color: #2eb398;
    padding-top: 13px;
    font-size: 0;
}

.description {
    display: flex;
    height: 275px;
    width: 820px;
    border: 1px solid #219d84;
    border-top-width: 0;
    border-bottom-width: 0;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 54px;
}

.about-me .hex-3 img {
    height: 211px;
    width: 424px;
    transform-origin: 36% 67%;
}

.about-me .text {
    padding-right: 20px;
}

.about-me .text h2 {
    padding: 0;
    margin: 0;
    font-family: "Maven Pro";
    font-size: 20pt;
    font-weight: 400;
    color: white;
    text-align: justify;
}

.about-me .text h3 {
    padding: 0;
    margin: 0;
    font-family: "Maven Pro";
    font-size: 14pt;
    font-weight: 400;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
}

.about-me .text p {
    font-size: 10pt;
    color: white;
    text-align: justify;
}

.about-me-social {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.social-btn {
    display: inline-block;
    color: #fff;
    margin-right: 0;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    background: url("assets/images/about_me/sprite.png") no-repeat;
}

.social-btn-fb {
    background-position: -10px -10px;
}

.social-btn-tw {
    background-position: -100px -54px;
}

.social-btn-gp {
    background-position: -55px -10px;
}

.social-btn-pi {
    background-position: -100px -10px;
}

.social-btn-li {
    background-position: -10px -54px;
}

.social-btn-dr {
    background-position: -55px -54px;
}