body {
    padding: 0px;
    margin: 0px;
    font-family: "Lato-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    color: white;
    font-size: 16px;
}

.container {
    width: 1020px;
    margin: 0px auto 0px auto;
}

.header {
    background-color: #323232;
    height: 63px;
    border: 0px;
    margin: 0px auto 0px auto;
}

.nav-header {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 26px;
    margin-bottom: 23px;
}

.nav-left {
    margin-left: 316px;
}

.nav-right {
    margin-left: 25px;
}

.nav-left li,
.nav-right li {
    float: left;
    padding-left: 10px;
}

.nav-header a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.nav-header a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(46, 179, 152, 255);
}

.logo {
    float: left;
    margin-left: 37px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.arrow-down {
    position: relative;
    top: 63px;
    left: 465px;
    width: 0; 
    height: 0; 
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 26px solid #323232;
}

.portfolio {
    background-color: white;
    height: 720px;
    border: 0px;
    margin: 0px auto 0px auto;
}

.upper-line {
    display: flex;
    margin: 0;
    padding: 0;
    width: 960px;
    margin-top: 11px;
    margin-left: 30px;
}

.line-left {
    border: 1px solid #e4e9eb;
    width: 410px;
    margin-right: 140px;
    border-bottom-width: 0px;
}

.line-right {
    border: 1px solid #e4e9eb;
    width: 410px;
    border-bottom-width: 0px;
}

.row-1 {
    display: flex;
    width: 780px;
    justify-content: space-between;
}

.hexagon {
    width: 180px;
    height: 206px;
}

.hex-1 {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(60deg);
    background-color: teal;
}

.hex-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
    background-color: yellowgreen;
}

.hex-3 {
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: rotate(60deg);
    background-color: lightsalmon;
}

.hexagon img {
    width: 182px;
    height: 209px;
    transform: rotate(180deg);
}