body {
    padding: 0px;
    margin: 0px;
    font-family: "Lato-Bold", "AdobeInvisFont", "MyriadPro-Regular";
    color: white;
    font-size: 16px;
}

.container {
    width: 1020px;
    margin: 0px auto 0px auto;
}

.header {
    background-color: #323232;
    height: 63px;
    border: 0px;
    margin: 0px auto 0px auto;
}

.nav-header {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 26px;
    margin-bottom: 23px;
}

.nav-left {
    margin-left: 316px;
}

.nav-right {
    margin-left: 25px;
}

.nav-left li,
.nav-right li {
    float: left;
    padding-left: 10px;
}

.nav-header a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.nav-header a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(46, 179, 152, 255);
}

.logo {
    float: left;
    margin-left: 37px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.arrow-down {
    display: block;
    top: 70px;
    left: 100px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid red; /*323232*/
}
